WebApplication1/Connected Services/ServiceReference1/EditingWcfService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Telerik.Web.UI" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Telerik.Web.UI" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63336/EditingWcfService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="SearchBoxData">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndOfItems" type="xs:boolean" />
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfSearchBoxItemData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchBoxData" nillable="true" type="tns:SearchBoxData" />
  <xs:complexType name="ArrayOfSearchBoxItemData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SearchBoxItemData" nillable="true" type="tns:SearchBoxItemData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSearchBoxItemData" nillable="true" type="tns:ArrayOfSearchBoxItemData" />
  <xs:complexType name="SearchBoxItemData">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DataItem" nillable="true" type="q1:ArrayOfKeyValueOfstringanyType" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchBoxItemData" nillable="true" type="tns:SearchBoxItemData" />
</xs:schema>